External dataset source:
https://www.sciencebase.gov/catalog/item/63badf22d34e92aad3cd279e
Data File: HWM_Measurements.Info.csv

After Hurricane Ida, dataset marks points around New York City that become inundated during heavy rainfaill, permanently submerged in water throughout a rainy period. This data maps water depth and the most significantly inundated areas which in relation to my proposed dataset, present the obstacles of puddles and poolings for residents to navigate as they maneuver around the city. 

I would combine these two datasets to analyze where streets become more frequently inundated during heavy rainfall creating puddles, pools and larger water obstructions for residents to maneuver throughout New York City. My personal dataset only covers a 1-2 block radius where I consistently walk no matter where I am traveling to in the city. I would be curious to see the varying degrees of inundation experienced by residents relative to major flood events relative to the city's infrastructure in certain areas.

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
pluto = gpd.read_file('MappingSystemsAssignment2-DataSet -PuddleMap.csv', )

In [3]:
import pandas as pd
import geojson

In [5]:
# Load the CSV file
df = pd.read_csv('MappingSystemsAssignment2-DataSet -PuddleMap.csv')

In [6]:
import pandas as pd
df = pd.DataFrame({'x': ['Latitude'], 'y': ['Longitude']})
df

          x          y
0  Latitude  Longitude

In [7]:
df = pd.DataFrame({'longitude': [-73.59188, -73.59203, -73.59188], 'latitude': [40.43173, 40.43177, 40.43219]})
df

   longitude  latitude
0  -73.59188  40.43173
1  -73.59203  40.43177
2  -73.59188  40.43219